/*     ###     BANNNER DESIGN NOW IN MINT ###   */
.ban1{
 	margin-top: 50px;
	 width: 60%;
	 background-size: cover;
	 cursor: pointer;
}
.banner{
	  
	  margin-top: 100px;
  	background-color: #F2FAF3;
	  text-align: center;
	}

.ban-text{
	  position: relative;
	  top: 100px;
	  font-size: 6rem;
}
.des{
	  font-size: 3rem;
	  font-weight: 100;
}

@media (Max-width: 800px){
	  .ban-text{
	  font-size: 1.5rem;
	  top: 50px;
   }
  .des{
	  font-size: 0.5rem;
 }
	
}